<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta charset='utf-8' />
    <title>Gorilla Web Hosting</title>
    <link href='/static/bootstrap.min.css' rel='stylesheet' />
    <script src='/static/ajax.js'></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class='topbar'>
      <div class='fill'>
        <div class='container'>
          <a class='brand' href='/'>
            Gorilla Web Hosting
          </a>
          <ul class='nav'>
            <li>
              <a href='/'>
                Home
              </a>
            </li>
            <li>
              <a href='/admin'>
                Admin
              </a>
            </li>
            <li>
              <a href='#contact'>
                Contact
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class='container'>
      <div class='hero-unit'>
        <h2>
          <i>
            Subscription example:
          </i>
        </h2>
        <h1>
          Gorilla Dedicated Server
        </h1>
        <h2>{{ subscriptions|length }} signups to date!</h2>
        <p>
          With a quad-core AMD processor and 8 GB of RAM, this beast of a machine has all the power you need, for just &pound;99 a month. Get started today with our super-simple setup and billing.
        </p>
        <p>
        <form action='{% url create_subscription %}' method='POST'>
            {% csrf_token %}
            <input type="submit" class="btn primary large" value="Subscribe Now &raquo;"/>
            <br />
            Prepopulate data?
            <input name='prepopulate' type='checkbox' value='true' />
          </form>
        </p>
      </div>
      <div class='row'>
        <div class='span4'>
          <img alt='Server. Image from Flickr user mayhem, some rights reserved. http://www.flickr.com/photos/mayhem/4403152760/sizes/o/in/photostream/' class='thumbnail' src='/static/images/server.jpg' width='200px' />
        </div>
        <div class='span6'>
          <h3>
            <i>
              Variable billing example:
            </i>
          </h3>
          <h2>
            Variable Priced Hosting
          </h2>
          <p>
            With our cloud hosting solutions, you'll only be charged for the resources you use. Our preauthorized billing system lets you set a maximum monthly charge, and we'll then automatically debit your account each month based on usage.
          </p>
          <p>
          <form action='{% url create_preauth %}' method='POST'>
              {% csrf_token %}
              <b>Monthly cap:</b>
              <select name='budget' style='width:70px'>
                <option value='100'>£100</option>
                <option value='200'>£200</option>
                <option value='300'>£300</option>
                <option value='400'>£400</option>
                <option value='500'>£500</option>
                <option value='600'>£600</option>
                <option value='700'>£700</option>
                <option value='800'>£800</option>
                <option value='900'>£900</option>
                <option value='1000'>£1000</option>
              </select>
              <input type="submit" class="btn info" value="Subscribe Now &raquo;"/>
            </form>
          </p>
        </div>
        <div class='span6'>
          <h3>
            <i>
              One-off payment example:
            </i>
          </h3>
          <h2>
            Domain Registrations
          </h2>
          <p>
            Get your .com domain today for just &pound;2.99.
          </p>
          <p>
          <form action='{% url create_bill %}' method='POST'>
              {% csrf_token %}
              <input type="submit" class="btn info" value="Buy Now &raquo;"/>
            </form>
          </p>
        </div>
      </div>
      <footer>
        <p>
          &copy; GoCardless 2012
        </p>
      </footer>
    </div>
  </body>
</html>
